<section class="mt-lg-5">
  <!--Grid row-->
  <div class="row">
    <!--Grid column-->
    <div class="col-xl-6 col-md-6 mb-r">
      <!--Card-->
      <mdb-card cascade="true" class="cascading-admin-card">
        <!--Card Data-->
        <div class="admin-up">
          <mdb-icon far icon="money-bill-alt" class="primary-color"></mdb-icon>
          <div class="data">
            <p>AVAILABILITY</p>
            <h4><strong>843</strong></h4>
          </div>
        </div>
        <!--/.Card Data-->

        <!--Card content-->
        <mdb-card-body>
          <!--Text-->
          <p class="card-text">Rentals Available 365 Days a Year</p>
        </mdb-card-body>
        <!--/.Card content-->
      </mdb-card>
      <!--/.Card-->
    </div>
    <!--Grid column-->

    <!--Grid column-->
    <div class="col-xl-6 col-md-6 mb-r">
      <!--Card-->
      <mdb-card cascade="true" class="cascading-admin-card">
        <!--Card Data-->
        <div class="admin-up">
          <mdb-icon fas icon="chart-line" class="warning-color"></mdb-icon>
          <div class="data">
            <p>RENTALS</p>
            <h4><strong>7907</strong></h4>
          </div>
        </div>
        <!--/.Card Data-->

        <!--Card content-->
        <mdb-card-body>
          <!--Text-->
          <p class="card-text">Total Number of Rentals</p>
        </mdb-card-body>
        <!--/.Card content-->
      </mdb-card>
      <!--/.Card-->
    </div>
    <!--Grid column-->
  </div>
  <!--Grid row-->
</section>
